body{
    background-color: aquamarinez;
}

.container{
    display:flex ;
    flex-direction: column;
    margin:50px;
    border: 2px solid;
    width: 300px;
}
h1{
    margin: 0px auto;
}
#sliderInput{
    width: 400px;
    padding: 5px;
    margin: 5px;

}
#playButton{
    width: 60px;
    margin: 10px;
    background: #c94d46;
    padding: 10px;
    border: 1px solid #832420;
    border-radius: 2px;
    color: #fff;
    font-size: 18px;
}

#beatSpeedContainer{
    font-size: 20px;
    margin: 0px auto;
    margin-bottom: 5px;
    position: relative;
    right: -20px;

}
#beatSpeed{
    width: 70px;
    margin: 10px;
}